form {
  display: flex;
  flex-direction: column;
}

.box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.box > span {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.box input {
  padding: 10px;
  border: 1px solid #dadde6;
  border-radius: 4px;
}

.btn.btn-cancel {
  margin-left: 20px;
  background-color: rgb(170, 170, 170);
}

.editor-wrap {
  margin-bottom: 20px;
}