form {
  display: flex;
  flex-direction: column;
}

.box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.box > span {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.box input {
  padding: 10px;
  border: 1px solid #dadde6;
  border-radius: 4px;
}

.editor-wrap {
  margin-bottom: 20px;
}