* {
  box-sizing: border-box;
  color: #222;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 6px 36px;
  background-color: #2998FF;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
}